[Desktop Entry]
Name=Crystal Desktop Search
Name[bs]=Postavke kristalnog desktopa
Name[cs]=Vyhledávací služba Crystal
Name[de]=Crystal-Desktop-Suche
Name[es]=Búsqueda de escritorio Crystal
Name[et]=Crystali töölauaotsing
Name[fi]=Crystal-työpöytähaku
Name[fr]=Recherche sur le bureau « Crystal »
Name[ga]=Cuardach Deisce Crystal
Name[gl]=Busca de escritorio Crystal
Name[hu]=Kristály asztali keresés
Name[km]=ការ​ស្វែងរក​ផ្ទៃតុ​គ្រីស្តាល់
Name[ko]=Crystal 데스크톱 검색
Name[mr]=क्रिस्टल डेस्कटॉप शोध
Name[nds]=Crystal-Schriefdischsöök
Name[nl]=Crystal Bureaubladzoeken
Name[pl]=Znajdywanie pulpitu Crystal
Name[pt]=Pesquisa no Ambiente de Trabalho Crystal
Name[pt_BR]=Pesquisa na área de trabalho Crystal
Name[ro]=Căutare de birou Crystal
Name[sk]=Hľadanie na ploche Crystal
Name[sv]=Crystal skrivbordssökning
Name[tr]=Crystal Masaüstü Araması
Name[ug]=كرىستال ئۈستەلئۈستى ئىزدەش
Name[uk]=Стільничний пошук Crystal
Name[x-test]=xxCrystal Desktop Searchxx
Comment=Search through your documents
Comment[bs]=Pretražuje sadržaj vaših dokumenata
Comment[cs]=Prohledávání vašich dokumentů
Comment[de]=Durchsuchen Sie Ihre Dokumente
Comment[es]=Buscar en sus documentos
Comment[et]=Dokumentides otsimine
Comment[fi]=Etsi asiakirjoista
Comment[fr]=Effectue une recherche dans vos documents
Comment[ga]=Cuardaigh do chuid cháipéisí
Comment[gl]=Buscar dentro dos teus documentos
Comment[hu]=Keresés a dokumentumokban
Comment[km]=ស្វែងរក​តាមរយៈ​ឯកសារ​របស់​អ្នក
Comment[ko]=문서 검색
Comment[mr]=तुमच्या दस्तऐवजात शोधा
Comment[nds]=Dien Dokmenten dörkieken
Comment[nl]=Uw documenten doorzoeken
Comment[pl]=Przeszukaj swoje dokumenty
Comment[pt]=Pesquisar nos seus documentos
Comment[pt_BR]=Pesquisar pelos seus documentos
Comment[ro]=Caută printre documente
Comment[sk]=Prehľadávať vaše dokumenty
Comment[sv]=Sök igenom dina dokument
Comment[tr]=Belgeleriniz arasında arayın
Comment[uk]=Пошук у ваших документах
Comment[x-test]=xxSearch through your documentsxx
Icon=system-search
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_crystal
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=crystal
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-DropUrlPatterns=nepomuksearch:/*
