[Desktop Entry]
Name=Crystal Desktop Search
Name[cs]=Vyhledávací služba Crystal
Name[et]=Crystali töölauaotsing
Name[km]=ការ​ស្វែងរក​ផ្ទៃតុ​គ្រីស្តាល់
Name[nds]=Crystal-Schriefdischsöök
Name[nl]=Crystal Bureaubladzoeken
Name[pt]=Pesquisa no Ambiente de Trabalho Crystal
Name[pt_BR]=Pesquisa na área de trabalho Crystal
Name[sv]=Crystal skrivbordssökning
Name[uk]=Стільничний пошук Crystal
Name[x-test]=xxCrystal Desktop Searchxx
Comment=Search through your documents
Comment[cs]=Prohledávání Vašich dokumentů
Comment[de]=Durchsuchen Sie Ihre Dokumente
Comment[et]=Dokumentides otsimine
Comment[km]=ស្វែងរក​តាមរយៈ​ឯកសារ​របស់​អ្នក
Comment[nds]=Dien Dokmenten dörkieken
Comment[nl]=Uw documenten doorzoeken
Comment[pt]=Pesquisar nos seus documentos
Comment[pt_BR]=Pesquisar pelos seus documentos
Comment[sv]=Sök igenom dina dokument
Comment[uk]=Пошук у ваших документах
Comment[x-test]=xxSearch through your documentsxx
Icon=system-search
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_crystal
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=crystal
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-DropUrlPatterns=nepomuksearch:/*
