[Desktop Entry]
Name=Crystal Desktop Search
Name[el]=Αναζήτηση επιφάνειας εργασίας Crystal
Name[et]=Crystali töölauaotsing
Name[fr]=Recherche Crystal pour le bureau
Name[ga]=Cuardach Deisce Crystal
Name[gl]=Procura de escritorio Crystal
Name[km]=ស្វែងរក​ផ្ទៃតុ​គ្រីស្តាល់
Name[nds]=Crystal-Schriefdischsöök
Name[nl]=Crystal Bureaubladzoeken
Name[pa]=ਕ੍ਰਿਸਟਲ ਡੈਸਕਟਾਪ ਖੋਜ
Name[pt]=Pesquisa no Ambiente de Trabalho Crystal
Name[pt_BR]=Pesquisa no Ambiente de Trabalho Crystal
Name[ro]=Căutare de birou Crystal
Name[sv]=Kristall skrivbordssökning
Name[tr]=Crystal Masaüstü Araması
Name[uk]=Стільничний пошук Crystal
Name[x-test]=xxCrystal Desktop Searchxx
Comment=Search through your documents
Comment[el]=Αναζήτηση στα έγγραφά σας
Comment[et]=Dokumentides otsimine
Comment[fr]=Recherche dans vos documents
Comment[gl]=Procurar nos documentos
Comment[km]=ស្វែងរក​តាមរយៈ​ឯកសារ​របស់អ្នក
Comment[nds]=Dien Dokmenten dörkieken
Comment[pt]=Pesquisar pelos seus documentos
Comment[pt_BR]=Pesquisar pelos seus documentos
Comment[ro]=Căutați prin documente
Comment[sv]=Sök igenom dina dokument
Comment[uk]=Пошук у ваших документах
Comment[x-test]=xxSearch through your documentsxx
Icon=nepomuk
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_crystal
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=crystal
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

